/* CSS Document */

	body{
		margin: 0px;
		font-family: Tahoma;
		font-weight: normal;
		font-size: .90em;
	}

	td.search {
		font-size: .70em;
	}

	td.login {
		font-family: Tahoma;
		font-weight: normal;
		font-size: 10px;
	}

	td.box {
		font-family: Tahoma;
		font-weight: normal;
		font-size: .70em;
	}

	table.mainlinetable{
	height: 28px;
	}

	td.tdbutton{
	background-color:#F2ECDC;
	border: 1px solid #666666;
	vertical-align:middle;
	text-align:center;
	padding-left:3px;
	}

	table.mainline{
	background-color:#FAB706;
	border-bottom:1px solid #666666;
	border-top:1px solid #666666;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	height: 28px;
	width:100%;
	}

	table.mainlinebottom{
	background-color:#FAB706;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 10px;
	height: 28px;
	width:100%;
	}

	table.main{
	background-color:#F2ECDC;
	}

	table.mainmiddle{
	background-color:#F2ECDC;
	padding-left:5px;
	}
	table.body{
	background-color:#F2ECDC;
	padding-left:5px;
	padding-right:5px;
	}
	.boxText{
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	}

	.boxTextBold{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
	}

	.identText{
	font-family: Tahoma;
	font-weight: normal;
	font-size: 10px;
	}

	td.tdtableloginend{
	background-color:#F2ECDC;
	border: 1px solid #666666;
	vertical-align:middle;
	font-size: 7px;
	}

	.linkmain:link {
	color :#000000;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	text-align: center;
	text-decoration:none;
	}

	.linkmain:visited {
	color :#000000;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	text-align: center;
	text-decoration:none;
	}

	.linkmain:hover {
	color :#666666;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	text-align: center;
	text-decoration:none;
	}
	.linksubmain:link {
	color :#666666;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 10px;
	text-align: center;
	text-decoration:none;
	}

	.linksubmain:visited {
	color :#666666;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 10px;
	text-align: center;
	text-decoration:none;
	}

	.linksubmain:hover {
	color :#000000;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 10px;
	text-align: center;
	text-decoration:underline;
	}

	.linkbottom:link {
	color :#000000;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	text-align: center;
	text-decoration:none;
	}

	.linkbottom:visited {
	color :#000000;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	text-align: center;
	text-decoration:none;
	}

	.linkbottom:hover {
	color:#666666;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	text-align: center;
	text-decoration:none;
	}

	table.all{
	border: 1px solid #666666;
	}

	table.headingCateg{
	border: 1px solid #666666;
	background-color:#EFD07E;
	height:17px;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	}
	td.tdheadingCateg{
	border-right:1px solid #666666;
	width:15px;
	}
	td.tdheadingCateg2{
	padding-left:5px;
	}
	table.Category{
	border: 1px solid #666666;
	background-color:#DDD7C9;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	}
	table.Category_link{
	background-color:#DDD7C9;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 10spx;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	}
	table.Category_Image{
	border: 1px solid #666666;
	background-color:#DDD7C9;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	padding-top:5px;
	padding-bottom:5px;
	}
	td.middle{
	border: 1px solid #666666;
	background-color:#DDD7C9;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 9px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:text-top;
	}
	td.imagemiddle{
	border: 1px solid #666666;
	vertical-align:middle;
	width:140px;
	height:86px;
	}
	table.NewProduct{
	border: 1px solid #666666;
	background-color:#DDD7C9;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	padding-left:10px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:10px;
	}

	td.tdleft{
	padding-left:5px;
	}
	td.tdbottomrepeat{
	background-image:url(images/bottom_repeat.gif);
	background-repeat:repeat-x;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	vertical-align:middle;
	}
	td.tdbottomleftrepeat{
	background-image:url(images/bannerbottom_repeat.gif);
	background-repeat:repeat-x;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	}

	td.tdShopping{
	border: 1px solid #666666;
	background-color:#F2ECDC;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 10px;
	padding-left:3px;
	padding-right:3px;
	}
	.coolinput{
	border-collapse: collapse;
	font-family: Tahoma;
	border: 1px solid #BEB9AC;
	font-size:11px;
	background-color: #DDD7C9;
	}

	.coolbutton{
	background-color:#F2ECDC;
	background-image:url(images/arrow.gif);
	background-position:left;
	background-repeat:no-repeat;
	border: 1px solid #000000;
	height:17px;
	width:40px;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	padding-left:10px;
	text-align:center;
	}
	.TitleText{
	font-family: Tahoma;
	font-weight:bold;
	font-size: 12px;
	}
	td.tdtableShopping{
	padding-top:5px;
	vertical-align:top;
	}
	hr.line{
	color:F2ECDC;
	width:100%;
	}

	td.tdbannerrepeat{
	background-image:url(images/banner_repeat.gif);
	background-repeat:repeat-x;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	vertical-align:middle;
	padding-left:10px;
	}

	img.productimagelink{
	border:0;
	}
	.coolcombo{
	width:100%;
	background-color:#F2ECDC;
	border: 1px solid #BEB9AC;
	font-family: Tahoma;
	font-weight: normal;
	font-size: 11px;
	border-collapse: collapse;
	}
